/*** PRINT ********************************************************************/

@page {
  size: auto;
  margin: 20mm 35mm 20mm 35mm;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
    font-style: italic;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    font-style: italic;
  }
}

/*** TYPE SCALE ***************************************************************/

:root {
  --size-base: 18px;
  --size-scale: 1.25;
}

@media print {
  :root {
    --size-base: 11pt;
  }
}

@media screen and (min-width: 1281px) and (min-height: 901px) {
  :root {
    --size-base: 20px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --size-base: 17px;
    --size-scale: 1.2;
  }
}

:root {
  --size-s1: calc(var(--size-base) / var(--size-scale));
  --size-s2: calc(var(--size-s1) / var(--size-scale));

  --size-l1: calc(var(--size-base) * var(--size-scale));
  --size-l2: calc(var(--size-l1) * var(--size-scale));
  --size-l3: calc(var(--size-l2) * var(--size-scale));
  --size-l4: calc(var(--size-l3) * var(--size-scale));
  --size-l5: calc(var(--size-l4) * var(--size-scale));
}

/*** COLOR ********************************************************************/

:root {
  --gray-000: #fff;
  --gray-999: #000;

  --red-100: hsl(11.05, 67.86%, 89.02%);
  --red-200: hsl(7.11, 71.7%, 79.22%);
  --red-300: hsl(3.1, 74.36%, 69.41%);
  --red-400: hsl(359.25, 77.56%, 59.8%);
  --red-500: hsl(355.02, 80.39%, 50%);
  --red-600: hsl(355.85, 77.56%, 40.2%);
  --red-700: hsl(357.41, 74.36%, 30.59%);
  --red-800: hsl(358.42, 71.7%, 20.78%);
  --red-900: hsl(0, 67.86%, 10.98%);

  --gray-100: hsl(30, 7.69%, 94.9%);
  --gray-200: hsl(0, 6.02%, 83.73%);
  --gray-300: hsl(6, 7.14%, 72.55%);
  --gray-400: hsl(4.62, 6.6%, 61.37%);
  --gray-500: hsl(7.06, 6.67%, 50%);
  --gray-600: hsl(9.23, 6.6%, 38.63%);
  --gray-700: hsl(12, 7.14%, 27.45%);
  --gray-800: hsl(0, 6.02%, 16.27%);
  --gray-900: hsl(0, 7.69%, 5.1%);

  --yellow-100: hsl(41.63, 96.08%, 90%);
  --yellow-200: hsl(41.63, 96.08%, 80%);
  --yellow-300: hsl(42.21, 94.77%, 70%);
  --yellow-400: hsl(42.06, 95.1%, 60%);
  --yellow-500: hsl(41.98, 95.29%, 50%);
  --yellow-600: hsl(42.06, 95.1%, 40%);
  --yellow-700: hsl(42.21, 94.77%, 30%);
  --yellow-800: hsl(41.63, 96.08%, 20%);
  --yellow-900: hsl(41.63, 96.08%, 10%);

  --mark-bg: var(--yellow-500);
  --mark-bg-plus: var(--yellow-600);
  --mark-fg: var(--gray-900);

  --link-fg: var(--red-500);
  --link-fg-hover: var(--red-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-000: #000;
    --gray-999: #fff;

    --red-100: hsl(0.87, 55%, 10.81%);
    --red-200: hsl(2.2, 57.21%, 20.79%);
    --red-300: hsl(2.47, 57.61%, 31.06%);
    --red-400: hsl(1.98, 57.19%, 41.71%);
    --red-500: hsl(2.07, 63.93%, 52.63%);
    --red-600: hsl(1.95, 61.72%, 58.98%);
    --red-700: hsl(3.94, 58.6%, 68.22%);
    --red-800: hsl(7.3, 56.08%, 78.4%);
    --red-900: hsl(11.05, 52.9%, 88.64%);

    --gray-100: hsl(0, 6.24%, 5.06%);
    --gray-200: hsl(0.09, 4.88%, 16.17%);
    --gray-300: hsl(11.98, 5.77%, 27.35%);
    --gray-400: hsl(9.24, 5.33%, 38.47%);
    --gray-500: hsl(7.09, 5.39%, 49.76%);
    --gray-600: hsl(4.65, 5.27%, 61.15%);
    --gray-700: hsl(6.02, 5.7%, 72.39%);
    --gray-800: hsl(0.02, 4.79%, 83.61%);
    --gray-900: hsl(29.99, 6.17%, 94.91%);

    --yellow-100: hsl(39.51, 61.73%, 11.63%);
    --yellow-200: hsl(39.24, 62.88%, 23.32%);
    --yellow-300: hsl(39.25, 58.99%, 35.64%);
    --yellow-400: hsl(38.77, 57.66%, 47.98%);
    --yellow-500: hsl(38.47, 86.45%, 60.33%);
    --yellow-600: hsl(40.32, 87.06%, 65.6%);
    --yellow-700: hsl(41.1, 86.3%, 73.42%);
    --yellow-800: hsl(40.92, 86.36%, 81.99%);
    --yellow-900: hsl(41.27, 85.03%, 90.9%);

    --mark-bg: var(--gray-000);
    --mark-bg-plus: var(--gray-200);
    --mark-fg: var(--yellow-500);

    --link-fg: var(--red-600);
    --link-fg--hover: var(--red-900);
  }
}

.bg-white {
  background: var(--gray-000);
}

.fg-white {
  color: var(--gray-000);
}

.bg-red-100 {
  background: var(--red-100);
}

.bg-red-200 {
  background: var(--red-200);
}

.bg-red-300 {
  background: var(--red-300);
}

.bg-red-400 {
  background: var(--red-400);
}

.bg-red-500 {
  background: var(--red-500);
}

.bg-red-600 {
  background: var(--red-600);
}

.bg-red-700 {
  background: var(--red-700);
}

.bg-red-800 {
  background: var(--red-800);
}

.bg-red-900 {
  background: var(--red-900);
}

.bg-gray-100 {
  background: var(--gray-100);
}

.bg-gray-200 {
  background: var(--gray-200);
}

.bg-gray-300 {
  background: var(--gray-300);
}

.bg-gray-400 {
  background: var(--gray-400);
}

.bg-gray-500 {
  background: var(--gray-500);
}

.bg-gray-600 {
  background: var(--gray-600);
}

.bg-gray-700 {
  background: var(--gray-700);
}

.bg-gray-800 {
  background: var(--gray-800);
}

.bg-gray-900 {
  background: var(--gray-900);
}

.bg-yellow-100 {
  background: var(--yellow-100);
}

.bg-yellow-200 {
  background: var(--yellow-200);
}

.bg-yellow-300 {
  background: var(--yellow-300);
}

.bg-yellow-400 {
  background: var(--yellow-400);
}

.bg-yellow-500 {
  background: var(--yellow-500);
}

.bg-yellow-600 {
  background: var(--yellow-600);
}

.bg-yellow-700 {
  background: var(--yellow-700);
}

.bg-yellow-800 {
  background: var(--yellow-800);
}

.bg-yellow-900 {
  background: var(--yellow-900);
}

.swatch {
  padding: 0.4em 0.6em;

  font-size: 0.9em;
}

.swatch-big {
  padding: 1.5em 0.5em;
}

/*** HYPHENATION **************************************************************/

body {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

/*** GRID ********************************************************************/

/*
The grid consists of three equally-sized columns. On a wide screen, two of those
columns are used for the main content, and the remaining one for side notes.
*/

:root {
  --column-width: calc(15 * var(--size-base));
  --gutter-width: var(--size-base);
}

@media screen {
  .container {
    display: grid;

    grid-template-columns:
      1fr
      [lg-start left-sm-start left-md-start]
      var(--column-width)
      [left-sm-end center-sm-start right-md-start]
      var(--column-width)
      [left-md-end center-sm-end right-sm-start]
      var(--column-width)
      [lg-end right-sm-end right-md-end]
      1fr;

    column-gap: var(--gutter-width);
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns:
      1fr
      [lg-start left-sm-start left-md-start center-sm-start right-md-start right-sm-start]
      var(--column-width)
      var(--column-width)
      [lg-end left-sm-end left-md-end center-sm-end right-md-end right-sm-end]
      1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns:
      0
      [lg-start left-sm-start left-md-start center-sm-start right-sm-start right-md-start]
      1fr
      [lg-end center-sm-end right-md-end right-sm-end left-sm-end left-md-end]
      0;
  }
}

@media screen {
  .container > * {
    grid-column: left-md;

    position: relative; /* needed for sidenote placement */
  }

  .container > h1,
  .container > h2,
  .container > h3 {
    grid-column: lg;
  }

  .col-left-sm {
    grid-column: left-sm;
  }

  .col-left-md {
    grid-column: left-md;
  }

  .col-center-sm {
    grid-column: center-sm;
  }

  .col-right-sm {
    grid-column: right-sm;
  }

  .col-right-md {
    grid-column: right-md;
  }

  .col-lg {
    grid-column: lg;
  }
}

/*** SIDENOTES ****************************************************************/

.sidenote {
  display: inline;
}

@media screen and (max-width: 900px) {
  .sidenote__checkbox {
    display: none;
  }

  .sidenote__label {
    display: inline;
    outline: none;

    color: var(--gray-100);

    padding: 2px 4px;

    cursor: pointer;
  }

  .sidenote__checkbox ~ .sidenote__content {
    /* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
    position: absolute;
    left: -99999px;
    top: auto;
  }

  .sidenote__checkbox:checked ~ .sidenote__content {
    position: relative; /* override screen-reader-only */
    left: auto; /* override screen-reader-only */

    float: left;

    width: 100%;

    display: block;
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: 901px) {
  .sidenote__checkbox,
  .sidenote__label {
    display: none;
  }

  .sidenote__content {
    display: block;

    position: absolute;
    left: calc(2 * var(--column-width) + 2 * var(--gutter-width));
    width: var(--column-width);

    margin-top: calc(-1.3 * var(--size-base));
    margin-right: 0;

    font-size: var(--size-s1);
    color: var(--red-700);
  }

  .sidenote__content a {
    color: var(--red-700);
  }
}

/*** UTILITIES ****************************************************************/

.pb-base {
  padding-bottom: var(--size-base);
}

.mb-l1 {
  margin-bottom: var(--size-l1);
}

.sm\:order-later {
  order: initial;
}

@media screen and (max-width: 900px) {
  .sm\:order-later {
    order: 999;
  }
}

/*** GLOBAL CONTENT STYLING ***************************************************/

body {
  background: var(--gray-100);
  color: var(--gray-900);

  font-family: Compita, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: var(--size-base);
  font-weight: 500;

  text-rendering: optimizeLegibility;
}

a {
  color: var(--link-fg);

  text-decoration: none;

  background-image: linear-gradient(var(--gray-200), var(--gray-200));
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 98%;
}

mark a {
  color: var(--mark-fg);

  background-image: linear-gradient(var(--mark-bg-plus), var(--mark-bg-plus));
}

a[href*="//"]:not([href*="denisdefreyne.com"]):after
{
  content: "→";

  padding-left: 3px;

  color: var(--red-500);
}

a::selection {
  text-shadow: none;
}

a:hover {
  color: var(--link-fg-hover);
  background-image: linear-gradient(var(--gray-300), var(--gray-300));
}

code,
kbd,
pre,
samp {
  font-family: "Iosevka SS08", monospace;
  font-size: 0.9em;
}

.path {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  font-style: italic;
}

/*** PRIMARY CONTENT STYLING **************************************************/

.primary ::-moz-selection {
  background: var(--red-800);
  color: var(--red-100);
}

.primary ::selection {
  background: var(--red-800);
  color: var(--red-100);
}

.primary ul,
.primary ol {
  padding-left: 2rem;
}

.primary ul > li {
  list-style-type: none;
}

.primary ul > li:before {
  content: "\2014";
  position: absolute;
  margin-left: -2rem;
}

.primary ul > li.list-icon-star:before {
  content: "★";
  margin-left: -2.1rem;
}

.primary ul ul > li:before {
  content: "•";
  position: absolute;
  margin-left: -1.5rem;
}

.primary ol > li {
  list-style-type: decimal;
}

.primary ul.spacious > li {
  margin-bottom: var(--size-s2);
}

.primary blockquote {
  padding-left: 2rem;
  font-style: italic;
}

.primary blockquote i,
.primary blockquote em {
  font-style: normal;
}

.primary dd {
  margin-left: 0;
  padding-left: 2rem;
}

.primary h1,
.primary h2,
.primary h3 {
  padding: 0;
  margin: 0 0 var(--size-s2) 0;

  color: var(--gray-900);
}

.primary h1 {
  font-size: var(--size-l4);
  line-height: 1;

  letter-spacing: -0.03ch;

  font-weight: 400;

  margin-bottom: var(--size-l1);
}

@media screen {
  .primary h1 {
    margin-top: var(--size-l4);
  }
}

.primary h2 {
  font-size: var(--size-l2);
  line-height: 1.2;

  font-weight: 500;

  margin-top: var(--size-l1);
}

.primary h3 {
  font-size: var(--size-base);
  line-height: 1.3;

  font-weight: 600;

  margin-top: var(--size-l1);
  text-transform: uppercase;

  letter-spacing: 0.1ch;
}

.primary p,
.primary ul,
.primary ol,
.primary blockquote,
.primary pre,
.primary dd {
  line-height: 1.4;

  margin: 0;
  margin-bottom: var(--size-base);
}

.primary p.lead {
  font-size: var(--size-l1);
}

.primary p:last-child,
.primary li:last-child {
  margin-bottom: 0;
}

.primary li > p:last-child {
  margin-bottom: 20px;
}

.primary li:last-child > p:last-child {
  margin-bottom: 0;
}

.primary pre {
  white-space: pre-wrap;

  padding: 5px 0;

  border-top: 1px solid var(--red-500);
  border-bottom: 1px solid var(--red-500);
}

/*** PRIMARY FOOTER ************************************************************/

.hr {
  margin: calc(3 * var(--size-base)) 0 var(--size-s1) 0;

  border-top: 1px solid var(--gray-500);
}

.primary .main-footer {
  font-size: 0.85em;
}

.primary .main-footer h2 {
  font-size: var(--size-base);
  line-height: 1;

  font-weight: 600;

  margin-top: 0;
}

.primary .main-footer ul {
  padding-left: 0;
}

.primary .main-footer ul > li {
  list-style-type: none;
}

.primary .main-footer ul > li:before {
  content: "";
  margin-left: 0;
}

/*** HERO *********************************************************************/

.primary .hero {
  font-size: var(--size-l5);
  line-height: 1.05;

  letter-spacing: -0.04ch;

  font-weight: 400;
}

.primary .hero em {
  font-style: normal;
  font-weight: 800;

  letter-spacing: -0.01ch;
}

.primary .hero a {
  background-size: 1px 3px;
}

@media screen {
  .primary .hero {
    margin-top: var(--size-l3);
    margin-bottom: var(--size-l3);
  }
}

@media screen and (max-width: 600px) {
  .primary .hero {
    line-height: 1.15;

    margin-top: 0;
  }
}

@media print {
  .primary .hero {
    margin-top: var(--size-l2);
    margin-bottom: var(--size-l2);
  }
}

/*** NAV **********************************************************************/

@media print {
  .nav {
    display: none;
  }
}

.nav {
  padding: var(--size-base);

  font-size: var(--size-s1);

  text-transform: uppercase;
}

@media screen and (min-width: 601px) {
  .nav {
    padding: var(--size-l1);
  }
}

.nav ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.nav li {
  padding: 0 var(--size-s1) var(--size-s2) 0;

  flex-shrink: 0;
  flex-grow: 0;
}

.nav li:first-child {
  flex-grow: 1;
}

.nav li:first-child,
.nav li:last-child {
  padding-right: 0;
}

.nav a,
.nav .active {
  text-transform: uppercase;

  font-size: var(--size-s1);
  font-weight: 600;
  letter-spacing: 0.2ch;
}

.nav .active {
  color: var(--gray-900);
}

/*** FOOTER *******************************************************************/

body,
.above-footer {
  min-height: 100vh;
}

.above-footer {
  padding-bottom: calc(8 * var(--size-base));
}

.footer {
  position: relative;

  font-size: var(--size-s1);

  color: var(--gray-600);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding: var(--size-base);

  height: calc(var(--size-s1) + 2 * var(--size-base));
  margin-top: calc(-1 * (var(--size-s1) + 2 * var(--size-base)));
  /* for top+bottom padding and text */
}

@media screen and (min-width: 601px) {
  .footer {
    padding: var(--size-l1);

    height: calc(var(--size-s1) + 2 * var(--size-l1));
    margin-top: calc(-1 * (var(--size-s1) + 2 * var(--size-l1)));
    /* for top+bottom padding and text */
  }
}

.footer a {
  color: var(--gray-600);
}

.footer a:hover {
  color: var(--red-900);
}

/*** OTHER ********************************************************************/

@media (prefers-color-scheme: dark) {
  b,
  strong {
    color: var(--gray-999);
  }

  mark b,
  mark strong {
    color: var(--mark-fg);
  }
}

mark {
  background-color: var(--mark-bg);
  color: var(--mark-fg);

  padding: 1px 4px 0;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
