/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* ----- fonts ----- */

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/iosevka-ss08-regular.woff2") format("woff2"),
    url("/assets/fonts/iosevka-ss08-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/iosevka-ss08-italic.woff2") format("woff2"),
    url("/assets/fonts/iosevka-ss08-italic.ttf") format("ttf");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/iosevka-ss08-bold.woff2") format("woff2"),
    url("/assets/fonts/iosevka-ss08-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Compita";
  font-weight: 200;
  /* FIXME: 100? */
  font-style: normal;
  src: url("/assets/fonts/Compita-Thin.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 200;
  /* FIXME: 100? */
  font-style: italic;
  src: url("/assets/fonts/Compita-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/Compita-Light.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/Compita-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Compita-Regular.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/Compita-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/Compita-Medium.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/Compita-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/Compita-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/Compita-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Compita-Bold.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/Compita-BoldItalic.woff") format("woff");
}

/* ----- print (common) */

@page {
  size: auto;
  margin: 20mm 35mm 20mm 35mm;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
    font-style: italic;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    font-style: italic;
  }
}

/* ----- */

:root {
  --pure-white: #fff;

  --red-100: hsl(15, 5%, 95%);
  --red-200: hsl(15, 50%, 90%);
  --red: hsl(15, 70%, 50%);
  --red-700: hsl(15, 70%, 25%);
  --red-800: hsl(15, 70%, 15%);

  --mark: hsl(50, 100%, 60%);
  --mark-fg: hsl(15, 5%, 0%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --pure-white: #000;

    --red-100: hsl(15, 5%, 15%);
    --red-200: hsl(15, 20%, 30%);
    --red: hsl(15, 70%, 55%);
    --red-700: hsl(15, 50%, 87%);
    --red-800: hsl(15, 50%, 92%);
    --red-900: hsl(15, 50%, 95%);

    --mark: hsl(15, 5%, 0%);
    --mark-fg: hsl(50, 100%, 60%);
  }
}

::-moz-selection {
  background: var(--red-800);
  color: var(--red-100);
}

::selection {
  background: var(--red-800);
  color: var(--red-100);
}

body {
  background: var(--red-100);
  color: var(--red-800);

  font-family: Compita, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;

  text-rendering: optimizeLegibility;
}

@media screen {
  body {
    padding: 0 20px;
  }
}

@media print {
  body {
    font-size: 11pt;
  }
}

@media screen {
  article {
    padding-bottom: 60px;

    display: grid;

    grid-template-columns:
      [full-start] 1fr
      [wide-start thin-start] 560px [thin-end]
      300px [wide-end]
      1fr [full-end];
  }

  article.solo {
    grid-template-columns:
      [full-start] 1fr
      [wide-start thin-start] minmax(0, 560px) [thin-end wide-end]
      1fr [full-end];
  }

  article > * {
    grid-column: thin;
    position: relative;
  }

  article > h1,
  article > h2,
  article > h3 {
    padding-right: 0;
  }
}

@media screen and (max-width: 900px) {
  article {
    grid-template-columns:
      [full-start] 1fr
      [wide-start thin-start] minmax(0, 560px) [thin-end wide-end]
      1fr [full-end];
  }
}

:root {
  --sidenote-width: 270px;
  --text-size: 18px;
}

.sidenote {
  display: inline;
}

@media screen and (max-width: 900px) {
  .sidenote__checkbox {
    display: none;
  }

  .sidenote__label {
    display: inline;
    outline: none;

    color: var(--red);

    padding: 2px 4px;

    cursor: pointer;
  }

  .sidenote__checkbox ~ .sidenote__content {
    /* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
    position: absolute;
    left: -99999px;
    top: auto;
  }

  .sidenote__checkbox:checked ~ .sidenote__content {
    position: relative; /* override screen-reader-only */
    left: auto; /* override screen-reader-only */

    float: left;

    display: block;
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: 901px) {
  .sidenote__checkbox,
  .sidenote__label {
    display: none;
  }

  .sidenote__content {
    display: block;

    position: absolute;
    left: 590px; /* 560px + 30px gutter */

    margin-top: calc(-1.3 * var(--text-size));
    margin-right: 0;

    width: var(--sidenote-width);
    font-size: smaller;
    color: var(--red-700);
  }

  .sidenote__content a {
    color: var(--red-700);
    border-color: var(--red-700);
  }
}

.hero {
  font-size: 96px;
  line-height: 80px;

  color: var(--red);

  letter-spacing: -0.05ch;

  font-weight: 300;
}

@media screen {
  .hero {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media print {
  .hero {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .hero {
    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 72px;
    line-height: 66px;

    font-weight: 400;
  }
}

a {
  color: var(--red-800);

  text-decoration: none;

  border-bottom: 1px solid var(--red-800);
}

a:hover {
  color: var(--red);
  border-color: var(--red);
}

@media screen {
  .nav {
    margin-top: 40px;
  }

  @media (max-width: 640px) {
    .nav {
      margin-top: 20px;
    }
  }

  .nav .sep {
    font-size: 80%;
  }

  .nav .sep,
  .nav a {
    margin-right: 6px;
  }

  .nav a {
    text-transform: uppercase;

    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2ch;
  }
}

@media print {
  .nav {
    display: none;
  }
}

p,
ul,
ol,
blockquote,
pre,
dd {
  margin: 0 0 20px 0;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

pre {
  white-space: pre-wrap;

  padding: 5px 0;

  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
}

code,
kbd,
pre,
samp {
  font-family: "Iosevka SS08", monospace;
  font-size: 0.95em;
}

@media (prefers-color-scheme: dark) {
  b,
  strong {
    color: var(--red-900);
  }

  mark b,
  mark strong {
    color: var(--mark-fg);
  }
}

p.lead {
  font-size: 24px;

  margin-bottom: 40px;

  line-height: 30px;
}

ul,
ol {
  padding-left: 2rem;
}

ul > li {
  list-style-type: none;
}

ul > li:before {
  content: "\2014";
  position: absolute;
  margin-left: -2rem;
}

ol > li {
  list-style-type: decimal;
}

ul.spacious > li {
  margin-bottom: 10px;
}

blockquote {
  padding-left: 2rem;
  font-style: italic;
}

blockquote i,
blockquote em {
  font-style: normal;
}

dd {
  margin-left: 0;
  padding-left: 2rem;
}

mark {
  background-color: var(--mark);
  color: var(--mark-fg);

  padding: 1px 4px 0;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0 0 10px 0;

  grid-column: long;

  grid-column: wide;

  color: var(--red);
}

h1 {
  font-size: 56px;
  line-height: 60px;

  letter-spacing: -0.05ch;

  font-weight: 400;

  margin-bottom: 20px;
}

@media screen {
  h1 {
    margin-top: 60px;
  }
}

h2 {
  font-size: 28px;
  line-height: 30px;

  font-weight: 500;

  margin-top: 40px;
}

h3 {
  font-size: 18px;
  line-height: 20px;

  font-weight: 600;

  margin-top: 20px;
  text-transform: uppercase;

  letter-spacing: 0.1ch;
}
