/*** PRINT ********************************************************************/

@page {
  size: auto;
  margin: 20mm 35mm 20mm 35mm;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
    font-style: italic;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    font-style: italic;
  }
}

/*** TYPE SCALE ***************************************************************/

:root {
  --size-base: 18px;
  --size-scale: 1.3333;
}

@media print {
  :root {
    --size-base: 11pt;
  }
}

@media screen and (min-width: 1281px) and (min-height: 901px) {
  :root {
    --size-base: 20px;
    --size-scale: 1.35;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --size-base: 18px;
    --size-scale: 1.25;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --size-base: 17px;
    --size-scale: 1.2;
  }
}

:root {
  --size-s1: calc(var(--size-base) / var(--size-scale));
  --size-s2: calc(var(--size-s1) / var(--size-scale));

  --size-l1: calc(var(--size-base) * var(--size-scale));
  --size-l2: calc(var(--size-l1) * var(--size-scale));
  --size-l3: calc(var(--size-l2) * var(--size-scale));
  --size-l4: calc(var(--size-l3) * var(--size-scale));
  --size-l5: calc(var(--size-l4) * var(--size-scale));
  --size-l6: calc(var(--size-l5) * var(--size-scale));
  --size-l7: calc(var(--size-l6) * var(--size-scale));
  --size-l8: calc(var(--size-l7) * var(--size-scale));
  --size-l9: calc(var(--size-l8) * var(--size-scale));
  --size-l10: calc(var(--size-l9) * var(--size-scale));
  --size-l11: calc(var(--size-l10) * var(--size-scale));
  --size-l12: calc(var(--size-l11) * var(--size-scale));
  --size-l13: calc(var(--size-l12) * var(--size-scale));
  --size-l14: calc(var(--size-l13) * var(--size-scale));
  --size-l15: calc(var(--size-l14) * var(--size-scale));
}

/*** COLOR ********************************************************************/

:root {
  --pure-white: #fff;

  --red-100: hsl(8, 3%, 96%);
  --red-200: hsl(8, 50%, 90%);
  --red: hsl(8, 80%, 55%);
  --red-700: hsl(8, 70%, 25%);
  --red-800: hsl(8, 70%, 15%);

  --mark: hsl(50, 100%, 60%);
  --mark-700: hsl(50, 100%, 45%);
  --mark-fg: hsl(8, 5%, 0%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --pure-white: #000;

    --red-100: hsl(8, 3%, 12%);
    --red-200: hsl(8, 55%, 22%);
    --red: hsl(8, 80%, 55%);
    --red-700: hsl(8, 50%, 87%);
    --red-800: hsl(8, 50%, 92%);
    --red-900: hsl(8, 50%, 95%);

    --mark: hsl(8, 5%, 0%);
    --mark-fg: hsl(50, 100%, 60%);
  }
}

/*** HYPHENATION **************************************************************/

body {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

/*** GRID ********************************************************************/

/*
The grid consists of three equally-sized columns. On a wide screen, two of those
columns are used for the main content, and the remaining one for side notes.
*/

:root {
  --column-width: calc(15 * var(--size-base));
  --gutter-width: var(--size-base);
}

@media screen {
  .container {
    display: grid;

    grid-template-columns:
      1fr
      [lg-start left-sm-start left-md-start]
      var(--column-width)
      [left-sm-end right-md-start]
      var(--column-width)
      [left-md-end right-sm-start]
      var(--column-width)
      [lg-end right-sm-end right-md-end]
      1fr;

    column-gap: var(--gutter-width);
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns:
      1fr
      [lg-start left-sm-start left-md-start right-md-start right-sm-start]
      var(--column-width)
      var(--column-width)
      [lg-end left-sm-end left-md-end right-md-end right-sm-end]
      1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns:
      0
      [lg-start left-sm-start left-md-start right-sm-start right-md-start]
      1fr
      [lg-end right-md-end right-sm-end left-sm-end left-md-end]
      0;
  }
}

@media screen {
  .container > * {
    grid-column: left-md;

    position: relative; /* needed for sidenote placement */
  }

  .container > h1,
  .container > h2,
  .container > h3 {
    grid-column: lg;
  }

  .col-left-sm {
    grid-column: left-sm;
  }

  .col-right-md {
    grid-column: right-md;
  }

  .col-lg {
    grid-column: lg;
  }
}

/*** SIDENOTES ****************************************************************/

.sidenote {
  display: inline;
}

@media screen and (max-width: 900px) {
  .sidenote__checkbox {
    display: none;
  }

  .sidenote__label {
    display: inline;
    outline: none;

    color: var(--red);

    padding: 2px 4px;

    cursor: pointer;
  }

  .sidenote__checkbox ~ .sidenote__content {
    /* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
    position: absolute;
    left: -99999px;
    top: auto;
  }

  .sidenote__checkbox:checked ~ .sidenote__content {
    position: relative; /* override screen-reader-only */
    left: auto; /* override screen-reader-only */

    float: left;

    width: 100%;

    display: block;
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: 901px) {
  .sidenote__checkbox,
  .sidenote__label {
    display: none;
  }

  .sidenote__content {
    display: block;

    position: absolute;
    left: calc(2 * var(--column-width) + 2 * var(--gutter-width));
    width: var(--column-width);

    margin-top: calc(-1.3 * var(--size-base));
    margin-right: 0;

    font-size: var(--size-s1);
    color: var(--red-700);
  }

  .sidenote__content a {
    color: var(--red-700);
    border-color: var(--red-700);
  }
}

/*** UTILITIES ****************************************************************/

.pb-l4 {
  padding-bottom: var(--size-l4);
}

.sm\:order-later {
  order: initial;
}

@media screen and (max-width: 900px) {
  .sm\:order-later {
    order: 999;
  }
}

/*** GLOBAL CONTENT STYLING ***************************************************/

body {
  background: var(--red-100);
  color: var(--red-800);

  font-family: Compita, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: var(--size-base);
  font-weight: 500;

  text-rendering: optimizeLegibility;
}

a {
  color: var(--red-800);

  text-decoration: none;

  background-image: linear-gradient(var(--red-200), var(--red-200));
  background-size: 1px 35%;
  background-repeat: repeat-x;
  background-position: 0% calc(100% - 0.1ch);
}

mark a {
  background-image: linear-gradient(var(--mark-700), var(--mark-700));
}

a[href*="//"]:not([href*="denisdefreyne.com"]):after
{
  content: "→";

  padding-left: 3px;

  color: var(--red);
}

a::selection {
  text-shadow: none;
}

a:hover {
  color: var(--red);
}

code,
kbd,
pre,
samp {
  font-family: "Iosevka SS08", monospace;
  font-size: 0.9em;
}

.path {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  font-style: italic;
}

/*** PRIMARY CONTENT STYLING **************************************************/

.primary ::-moz-selection {
  background: var(--red-800);
  color: var(--red-100);
}

.primary ::selection {
  background: var(--red-800);
  color: var(--red-100);
}

.primary ul,
.primary ol {
  padding-left: 2rem;
}

.primary ul > li {
  list-style-type: none;
}

.primary ul > li:before {
  content: "\2014";
  position: absolute;
  margin-left: -2rem;
}

.primary ul ul > li:before {
  content: "•";
  position: absolute;
  margin-left: -1.5rem;
}

.primary ol > li {
  list-style-type: decimal;
}

.primary ul.spacious > li {
  margin-bottom: var(--size-s2);
}

.primary p.lead {
  font-size: var(--size-l1);
  line-height: 1.3;

  margin-bottom: var(--size-l2);
}

.primary blockquote {
  padding-left: 2rem;
  font-style: italic;
}

.primary blockquote i,
.primary blockquote em {
  font-style: normal;
}

.primary dd {
  margin-left: 0;
  padding-left: 2rem;
}

.primary h1,
.primary h2,
.primary h3 {
  padding: 0;
  margin: 0 0 var(--size-s2) 0;

  color: var(--red);
}

.primary h1 {
  font-size: var(--size-l4);
  line-height: 1;

  letter-spacing: -0.03ch;

  font-weight: 400;

  margin-bottom: var(--size-l1);
}

@media screen {
  .primary h1 {
    margin-top: var(--size-l4);
  }
}

.primary h2 {
  font-size: var(--size-l2);
  line-height: 1.2;

  font-weight: 500;

  margin-top: var(--size-l1);
}

.primary h3 {
  font-size: var(--size-base);
  line-height: 1.3;

  font-weight: 600;

  margin-top: var(--size-l1);
  text-transform: uppercase;

  letter-spacing: 0.1ch;
}

.primary p,
.primary ul,
.primary ol,
.primary blockquote,
.primary pre,
.primary dd {
  line-height: 1.4;

  margin: 0;
  margin-bottom: var(--size-base);
}

.primary p:last-child,
.primary li:last-child {
  margin-bottom: 0;
}

.primary li > p:last-child {
  margin-bottom: 20px;
}

.primary li:last-child > p:last-child {
  margin-bottom: 0;
}

.primary pre {
  white-space: pre-wrap;

  padding: 5px 0;

  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
}

/*** HERO *********************************************************************/

.hero {
  font-size: var(--size-l4);
  line-height: 1.05;

  letter-spacing: -0.05ch;

  font-weight: 400;
}

.hero em {
  color: var(--red);

  font-style: normal;
}

@media screen {
  .hero {
    margin-top: var(--size-l3);
    margin-bottom: var(--size-l3);
  }
}

@media screen and (max-width: 600px) {
  .hero {
    line-height: 1.15;

    margin-top: 0;
  }
}

@media print {
  .hero {
    margin-top: var(--size-l2);
    margin-bottom: var(--size-l2);
  }
}

/*** NAV **********************************************************************/

.nav {
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .nav {
    padding-top: 0;
  }
}

.nav-sep {
  font-size: var(--size-s1);
}

.nav-sep,
.nav a {
  margin-right: 6px;
}

.nav-link {
  text-transform: uppercase;

  font-size: var(--size-s1);
  font-weight: 600;
  letter-spacing: 0.2ch;
}

@media print {
  .nav {
    display: none;
  }
}

/*** OTHER ********************************************************************/

@media screen {
  article {
    padding: 1rem 0 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  b,
  strong {
    color: var(--red-900);
  }

  mark b,
  mark strong {
    color: var(--mark-fg);
  }
}

mark {
  background-color: var(--mark);
  color: var(--mark-fg);

  padding: 1px 4px 0;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
