@tailwind base;

@tailwind components;

@tailwind utilities;

@page {
  size: auto;
  margin: 20mm 20mm 20mm 20mm;
}

html {
  font-size: 14px;
}

@media print {
  html {
    font-size: 10pt;
  }
}

a {
  @apply cursor-pointer;
}

@media screen {
  a {
    @apply text-purple-500 underline;
  }
}

a:hover {
  @apply text-purple-600;
}

h1 {
  @apply text-blue-600 text-3xl;
}

h2 {
  @apply text-blue-600 text-xl;
}

h3 {
  @apply text-blue-600 text-lg;
}

@media (prefers-color-scheme: dark) {
  @media screen {
    a:hover {
      @apply text-purple-400;
    }
  }

  h1 {
    @apply text-blue-400;
  }

  h2 {
    @apply text-blue-400;
  }

  h3 {
    @apply text-blue-400;
  }
}

ul {
  @apply pl-4;
}

ol {
  @apply pl-5;
}

ul > li {
  @apply list-square;
}

ol > li {
  @apply list-decimal;
}

.hljs-comment {
  @apply text-gray-500;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
  @apply font-bold;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  @apply text-red-500;
}

.hljs-section,
.hljs-title {
  @apply font-bold;
}

.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  @apply text-blue-500;
}

.hljs-literal {
  @apply text-green-500;
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-meta,
.hljs-meta-string {
  @apply text-purple-500;
}

.hljs-emphasis {
  @apply italic;
}

.hljs-strong {
  @apply font-bold;
}
