@tailwind base;

@tailwind components;

@tailwind utilities;

@page {
  size: auto;
  margin: 20mm 20mm 20mm 20mm;
}

html {
  font-size: 16px;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@media print {
  html {
    font-size: 10pt;
  }
}

a {
  @apply cursor-pointer;
}

@media screen {
  a {
    @apply text-blue-500 underline;
  }

  a:hover {
    @apply text-blue-700;
  }

  a:visited {
    @apply text-purple-500;
  }

  a:visited:hover {
    @apply text-purple-700;
  }
}

h1 {
  @apply text-3xl;
}

.notes h1 {
  @apply pb-4;
}

h2 {
  @apply font-bold text-xl;
}

.notes h2 {
  @apply pt-4;
}

h3 {
  @apply font-bold text-base;
}

@media (prefers-color-scheme: dark) {
  @media screen {
    a {
      @apply text-blue-400;
    }

    a:hover {
      @apply text-blue-200;
    }

    a:visited {
      @apply text-purple-400;
    }

    a:visited:hover {
      @apply text-purple-200;
    }
  }
}

ul {
  @apply pl-4;
}

ol {
  @apply pl-5;
}

ul > li {
  @apply list-square;
}

ol > li {
  @apply list-decimal;
}

blockquote {
  @apply pl-4 border-l-2 border-blue-500;
}

.hljs-comment {
  @apply text-gray-500;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
  @apply font-bold;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  @apply text-red-500;
}

.hljs-section,
.hljs-title {
  @apply font-bold;
}

.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  @apply text-blue-500;
}

.hljs-literal {
  @apply text-green-500;
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-meta,
.hljs-meta-string {
  @apply text-purple-500;
}

.hljs-emphasis {
  @apply italic;
}

.hljs-strong {
  @apply font-bold;
}
