/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* ----- fonts ----- */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");

/* ----- print (common) */

@page {
  size: auto;
  margin: 20mm 35mm 20mm 35mm;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}

/* ----- */

:root {
  --size-base: 20px;
  --size-scale: 1.35;
}

@media print {
  :root {
    --size-base: 11pt;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --size-base: 18px;
    --size-scale: 1.3;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --size-base: 17px;
    --size-scale: 1.2;
  }
}

:root {
  --size-s1: calc(var(--size-base) / var(--size-scale));
  --size-s2: calc(var(--size-s1) / var(--size-scale));
  --size-l1: calc(var(--size-base) * var(--size-scale));
  --size-l2: calc(var(--size-l1) * var(--size-scale));
  --size-l3: calc(var(--size-l2) * var(--size-scale));
  --size-l4: calc(var(--size-l3) * var(--size-scale));
  --size-l5: calc(var(--size-l4) * var(--size-scale));
  --size-l6: calc(var(--size-l5) * var(--size-scale));
  --size-l7: calc(var(--size-l6) * var(--size-scale));
  --size-l8: calc(var(--size-l7) * var(--size-scale));
  --size-l9: calc(var(--size-l8) * var(--size-scale));
  --size-l10: calc(var(--size-l9) * var(--size-scale));
  --size-l11: calc(var(--size-l10) * var(--size-scale));
  --size-l12: calc(var(--size-l11) * var(--size-scale));
  --size-l13: calc(var(--size-l12) * var(--size-scale));
  --size-l14: calc(var(--size-l13) * var(--size-scale));
  --size-l15: calc(var(--size-l14) * var(--size-scale));

  --main-width: calc(30 * var(--size-base));
  --side-width: calc(15 * var(--size-base));
  --gutter-width: calc(2 * var(--size-base));
}

:root {
  --pure-white: #fff;

  --basec-100: hsl(195, 5%, 95%);
  --basec-200: hsl(195, 50%, 90%);
  --basec: hsl(195, 70%, 50%);
  --basec-700: hsl(195, 70%, 25%);
  --basec-800: hsl(195, 20%, 15%);
}

:root {
  --text-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --pure-white: #000;

    --basec-100: hsl(195, 5%, 15%);
    --basec-200: hsl(195, 20%, 30%);
    --basec: hsl(195, 70%, 55%);
    --basec-700: hsl(195, 50%, 87%);
    --basec-800: hsl(195, 20%, 92%);
    --basec-900: hsl(195, 15%, 95%);
  }
}

::-moz-selection {
  background: var(--basec-800);
  color: var(--basec-100);
}

::selection {
  background: var(--basec-800);
  color: var(--basec-100);
}

body {
  background: var(--basec-100);
  color: var(--basec-800);

  font-family: "EB Garamond", Georgia, serif;
  font-size: var(--size-base);
  font-weight: 500;

  text-rendering: optimizeLegibility;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

@media screen {
  body {
    padding: calc(2 * var(--size-base)) calc(1 * var(--size-base));
  }
}

article {
  max-width: var(--main-width);
  margin: 0 auto;
}

p {
  line-height: 1.4;

  margin: 0;
}

p + p {
  text-indent: 2rem;
}

p.meta {
  margin-top: calc(1 * var(--size-base));

  font-style: italic;
  font-size: 0.9em;

  text-indent: 0;
}

p.meta::before {
  content: "[";

  font-style: normal;
}

p.meta::after {
  content: "]";

  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  b,
  strong {
    color: var(--red-900);
  }
}

h1 {
  padding: 0;
  margin: 0;
  margin-bottom: var(--size-base);

  grid-column: wide;

  font-size: calc(0.9 * var(--size-base));
  font-weight: 700;
  text-transform: uppercase;

  line-height: 1;

  letter-spacing: 0.06ch;
}
