@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");

@import url("/assets/bespoke-serif/font.css");
@import url("/assets/gambarino/font.css");

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/iosevka-fixed-ss08-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/iosevka-fixed-ss08-thinitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/iosevka-fixed-ss08-light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/iosevka-fixed-ss08-lightitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/iosevka-fixed-ss08-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/iosevka-fixed-ss08-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/iosevka-fixed-ss08-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/iosevka-fixed-ss08-mediumitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/iosevka-fixed-ss08-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/iosevka-fixed-ss08-semibolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/iosevka-fixed-ss08-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka SS08";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/iosevka-fixed-ss08-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Compita";
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/Compita-Thin.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/Compita-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/Compita-Light.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/Compita-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Compita-Regular.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/Compita-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/Compita-Medium.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/Compita-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/Compita-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/Compita-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Compita-Bold.woff") format("woff");
}

@font-face {
  font-family: "Compita";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/Compita-BoldItalic.woff") format("woff");
}
