:root {
  --font-face-base: "Public Sans", sans-serif;
  --font-face-code: "Iosevka SS08", monospace;

  --font-size-s1: 0.875rem;
  --font-size-md: 1rem;
  --font-size-l1: calc(var(--font-size-md) * 1.35);
  --font-size-l2: calc(var(--font-size-l1) * 1.35);
  --font-size-l3: calc(var(--font-size-l2) * 1.35);
}

:root {
  --color-fg: var(--gray-900);
  --color-fg-muted: var(--gray-500);
  --color-bg: #fff;

  --color-link-fg: var(--blue-500);
  --color-link-fg-hover: var(--blue-700);
  --color-link-fg-muted: var(--gray-400);
  --color-link-fg-hover-muted: var(--gray-700);

  --color-border: var(--gray-100);

  --color-mark-bg: var(--yellow-300);
  --color-mark-fg: #000;

  --color-pre-bg: var(--gray-100);
  --color-pre-fg: #000;

  --color-code-fg: var(--teal-800);
  --color-code-fg-muted: var(--teal-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: var(--gray-100);
    --color-fg-muted: var(--gray-400);
    --color-bg: var(--gray-850);

    --color-link-fg: var(--blue-400);
    --color-link-fg-hover: var(--blue-100);
    --color-link-fg-muted: var(--gray-400);
    --color-link-fg-hover-muted: var(--gray-200);

    --color-border: var(--gray-700);

    --color-mark-bg: var(--red-700);
    --color-mark-fg: #fff;

    --color-pre-bg: var(--gray-700);
    --color-pre-fg: #fff;

    --color-code-fg: var(--teal-200);
    --color-code-fg-muted: var(--teal-400);
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5; /* 24 px */

  text-rendering: geometricPrecision;
}

body {
  font-family: var(--font-face-base);

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;

  background: var(--color-bg);
  color: var(--color-fg);
}

p {
  margin-top: 1.5rem;

  widows: 2;
  orphans: 2;
}

ul,
ol {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}

li:first-child > p:first-child {
  margin-top: 0;
}

a {
  color: var(--color-link-fg);

  text-underline-offset: 0.1875em;
}

a:hover {
  color: var(--color-link-fg-hover);
}

a[href*="//"]:not([href*="denisdefreyne.com"]):after
{
  content: " ↗";

  color: var(--color-link-fg);
}

h1 {
  font-size: var(--font-size-l3);
  line-height: 3rem;

  letter-spacing: -0.035ch;
}

h2 {
  margin-top: 3rem;
  font-size: var(--font-size-l2);
  line-height: 3rem;
}

h3 {
  margin-top: 3rem;
  position: relative;
  top: 0.75rem;
  font-size: var(--font-size-l1);
  line-height: 3rem;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-face-code);
  font-weight: 400;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code {
  color: var(--color-code-fg);
}

pre > code {
  color: var(--color-pre-fg);
}

pre {
  break-before: avoid;
  break-inside: avoid;

  margin-top: 1.5rem;
  padding: 1rem;
  background: var(--color-pre-bg);
  color: var(--color-pre-fg);

  white-space: pre-wrap;
}

blockquote {
  font-style: italic;
  padding-left: 1.5rem;
}

blockquote em {
  font-style: normal;
}

blockquote strong {
  font-style: normal;
}

mark {
  background: var(--color-mark-bg);
  color: var(--color-fg-mark);
}

/** WRAPPER **********/

@media screen {
  .wrapper {
    max-width: 34rem;
  }

  .wrapper > * {
    position: relative;
  }
}

/** UTILS **********/

.text-muted {
  color: var(--color-fg-muted);

  --color-link-fg: var(--color-link-fg-muted);
  --color-link-fg-hover: var(--color-link-fg-hover-muted);

  --color-code-fg: var(--color-code-fg-muted);
}

.text-indent-inverted {
  padding-left: 1rem;
  text-indent: -1rem;
}

.font-normal {
  font-style: normal !important;
}

.border-b {
  border-bottom: 1px solid var(--color-border);
}

.bg-root {
  background: var(--color-bg);
}

/** SIDENOTES **********/

.sidenote {
  font-family: var(--font-face-base);
}

@media screen and (max-width: 51rem) {
  /* breakpoint: 34 + 1.5*2+ (12.5 + 1.5)*2 */

  .sidenote {
    display: inline;
    font-style: italic;
  }
}

@media screen and (min-width: 51rem) {
  /* breakpoint: 34 + 1.5*2 + (12.5 + 1.5)*2 */

  .sidenote {
    position: absolute;

    display: block;

    width: 12rem;
    left: calc(100% + 1.5rem);

    margin-top: -1.5rem;
  }

  .sidenote,
  .sidenote code {
    font-size: 0.85rem;
    line-height: 1.35;
  }

  .sidenote-pre,
  .sidenote-post {
    display: none;
  }

  .sidenote {
    display: block;
    font-style: normal;
  }
}
