@page {
  margin: 2cm 3cm;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 9pt;
  line-height: 12pt;
}

a img {
  border: 0;
}

abbr {
  border: 0;
  outline: 0;
}

/** ========== CONTENT ========== */

.section.l1 {
  margin: 0 0 0 3cm;
}

.section {
  page-break-inside: avoid;
}

h1, h2, h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  page-break-after: avoid;

  margin: 0;

  font-size: 24pt;

  letter-spacing: -0.5pt;

  line-height: 33pt;
}

h2 {
  page-break-before: avoid;
  page-break-after: avoid;

  border-top: 1pt solid #333;

  margin: 18pt 0 -16pt -3cm;

  font-size: 9pt;
  font-weight: bold;

  text-transform: uppercase;

  letter-spacing: 0.7pt;

  line-height: 22pt;
}

h3 {
  page-break-before: avoid;
  page-break-after: avoid;

  margin: 18pt 0 11pt 0;

  font-size: 14pt;

  letter-spacing: -0.1pt;

  line-height: 15pt;
}

.subtitle {
  margin: -11pt 0 11pt 0;

  font-style: italic;
}

/* text */

p {
  widows: 3;
  orphans: 3;

  margin: 0 0 5pt 0;
}

.contact {
  float: right;
  margin: -40pt 0 0 0;
}

.contact .icon {
  vertical-align: -3pt;
  font-size: 250%;
  margin-right: 4pt;
}


strong, em {
  text-transform: uppercase;
}

/* lists */

ul,
ol {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
  page-break-inside: avoid;
  list-style-type: none;
}

#content ul ul,
#content ul ol,
#content ol ul,
#content ol ol {
  margin: 0;
}

li {
  list-style-type: square;
  margin: 5pt 0;
}

/* dl */

dl {
  margin: 0 0 20px 0;
}

dd {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
}

/* tables */

table {
  padding: 0;
  border-collapse: collapse;
}

tr td:first-child {
  letter-spacing: 5px;
}

tr:first-child td {
  padding-top: 0;
}

tr:last-child td {
  padding-bottom: 0;
}

td {
  padding: 0 20px 0 0;
  vertical-align: text-top;
}

/* a */

a:link,
a:visited {
  color: #000;
}

/* links */

#content a {
  text-decoration: none;
}
