$color-background:              #07f;
$color-background-print:        #fff;

$color-text:                    #fff;
$color-text-print:              #000;
$color-text-link:               #fff;
$color-text-link-hover:         #fff;
$color-text-link-active:        #fff;

$color-border-a-link:           #fff;
$color-border-a-link-footer:    #fff;
$color-border-a-hover:          #fff;
$color-border-a-active:         #fff;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;

  font-size: 15px;
  line-height: 18px;

  text-transform: lowercase;
}

*:hover {
  text-transform: none;
}

html {
  background: $color-background;
}

body {
  color: $color-text;
}

*::selection {
  color: $color-background;
  background: $color-text;
}

a img {
  border: 0;
}

abbr {
  border: 0;
  outline: 0;
}

#wrapper {
  padding: 80px;
  margin: 0;
  max-width: 740px;
}

/** ========== CONTENT ========== */

h1, h2, h3 {
  text-transform: uppercase;

  font-family: "Space Mono", monospace;
}

h1 {
  font-weight: normal;

  margin: 0 0 60px 0;
}

h1::before {
  display: block;
  white-space: pre;
  width: 100%;
  overflow: hidden;
  content: "////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\a////////////////////////////////////////////////////////////////////////////////////////////////////\a////////////////////////////////////////////////////\a///\a///////////////////////////////////////////////////////////////////////////\a////////////////////////////////////////////////////////////\a///////////////////////////////\a////////////////////////\a//////////////////////////////////////////////////////////////////////////////////////\a//////////////////////////////////////////////////////////////////////////////////////////";
}

.section.l1 {
  padding: 300px 0 0 0;
}

.section.l1:not(:last-child)::after {
  content: "v\av\av\av\av";
  display: block;
  white-space: pre;
  font-family: "Space Mono", monospace;
}

.section.l2 {
  padding: 0 0 100px 0;
}

h2 {
  margin: 0;
  margin-left: -140px;

  writing-mode: vertical-lr;

  transform: rotate(180deg);

  float: left;
}

h2:after {
  content: "";
  display: table;
  clear: both;
  writing-mode: unset;
}

h2 > span {
  display: inline-block;

  padding-right: 80px;
  padding-bottom: 60px;
  margin-top: -4px;

  background: #fff;
  color: #07f;
}

h2 > span > span {
  display: inline-block;

  font-family: "Space Mono", monospace;

  text-transform: uppercase;

  font-size: 25px;
  line-height: 22px;

  position: relative;
  top: -5px;
  left: -5px;
}

h2 > span > span:hover {
  left: 0;
  bottom: 0;
}

h3 {
  margin: 0 0 20px 0;

  font-size: 24px;
  line-height: 20px;

  text-shadow: 40px 0 0 rgba(255, 255, 255, 0.2);
}

.subtitle {
  margin: -18px 0 25px 0;
}

/* text */

#content p {
  margin: 0 0 10px 0;
}

strong, em {
  text-transform: uppercase;
}

/* lists */

ul,
ol {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

#content ul ul,
#content ul ol,
#content ol ul,
#content ol ol {
  margin: 0;
}

li {
  position: relative;
}

li::before {
  content: "-";
  position: absolute;
  left: -20px;
}

ul {
  list-style-type: none;
}

/* dl */

dl {
  margin: 0 0 20px 0;
}

dd {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
}

/* tables */

table {
  padding: 3px 0;
  border-collapse: collapse;
}

tr td {
  vertical-align: text-top;
}

tr td:first-child {
  letter-spacing: 5px;
}

tr:first-child td {
  padding-top: 0;
}

tr:last-child td {
  padding-bottom: 0;
}

td {
  padding: 0 20px 0 0;
}

/* links */

#content a {
  text-decoration: none;
}

#content a:link,
#content a:visited {
  color: $color-text-link;

  border-bottom: 1px solid $color-border-a-link;
}

#content a:hover {
  color: $color-text-link-hover;

  border-bottom: 3px double $color-border-a-hover;
}

#content a:active {
  color: $color-text-link-active;

  border-bottom: 1px solid $color-border-a-active;
}
