$color-background:              #000;
$color-background-print:        #fff;

$color-text:                    #fff;
$color-text-print:              #000;
$color-text-link:               #fff;
$color-text-link-hover:         #fff;
$color-text-link-active:        #fff;

$color-border-a-link:           #fff;
$color-border-a-link-footer:    #fff;
$color-border-a-hover:          #fff;
$color-border-a-active:         #fff;

@page {
  margin: 2cm;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;

  @media screen {
    font-size: 15px;
    line-height: 18px;

    text-transform: lowercase;
  }

  @media print {
    font-size: 9pt;
    line-height: 11pt;
  }
}

*:hover {
  text-transform: none;
}

body {
  @media screen {
    color: $color-text;
  }

  @media print {
    color: $color-text-print;
  }
}

*::selection {
  @media screen {
    color: $color-background;
    background: $color-text;
  }
}

a img {
  border: 0;
}

abbr {
  border: 0;
  outline: 0;
}

html {
  @media screen {
    background: #07f;
  }
}

#wrapper {
  @media screen {
    padding: 40px;
    margin: 0;
    max-width: 650px;
  }
}

/** ========== CONTENT ========== */

h1, h2, h3 {
  text-transform: uppercase;

  font-family: "Space Mono", monospace;
}

h1 {
  font-weight: normal;

  @media screen {
    margin: 0 0 60px 0;
  }

  @media print {
    margin: 0 0 40px 0;
  }
}

h1::before {
  white-space: pre;
  content: "DOCUMENT:\A";
}

h2 {
  page-break-before: avoid;
  page-break-after: avoid;

  @media screen {
    margin-top: 85px;
    margin-bottom: 40px;
  }

  @media print {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

h2 > span {
  font-family: "Space Mono", monospace;

  text-transform: uppercase;

  display: inline-block;

  @media screen {
    font-size: 25px;
    line-height: 22px;

    padding-right: 40px;

    background: linear-gradient(90deg, transparent 3px, #fff 3px);
    color: #07f;
  }

  @media print {
    font-size: 18pt;
    line-height: 22pt;
  }
}

h3 {
  page-break-after: avoid;

  margin: 60px 0 20px 0;

  @media screen {
    font-size: 20px;
    line-height: 20px;

    margin-top: 60px;
  }

  @media print {
    font-size: 13pt;
    line-height: 22pt;

    margin-top: 40px;
  }
}

h2 + h3 {
  @media screen {
    margin-top: 40px;
  }

  @media print {
    margin-top: 20px;
  }
}

.subtitle {
  margin: -18px 0 25px 0;
}


a::after {
  @media print {
    content: " (" attr(href) ")"
  }
}

/* text */

#content p {
  widows: 3;
  orphans: 3;

  margin: 0 0 10px 0;
}

strong, em {
  text-transform: uppercase;
}

/* lists */

ul,
ol {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
  page-break-inside: avoid;
}

#content ul ul,
#content ul ol,
#content ol ul,
#content ol ol {
  margin: 0;
}

li {
  position: relative;
}

li::before {
  content: "-";
  position: absolute;
  left: -20px;
}

ul {
  list-style-type: none;
}

/* dl */

dl {
  margin: 0 0 20px 0;
}

dd {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
}

/* tables */

table {
  padding: 3px 0;
  border-collapse: collapse;
}

tr td {
  vertical-align: text-top;
}

tr td:first-child {
  letter-spacing: 5px;
}

tr:first-child td {
  padding-top: 0;
}

tr:last-child td {
  padding-bottom: 0;
}

td {
  padding: 0 20px 0 0;
}

/* links */

#content a {
  text-decoration: none;
}

#content a:link,
#content a:visited {
  @media screen {
    color: $color-text-link;
  }

  border-bottom: 1px solid $color-border-a-link;
}

#content a:hover {
  @media screen {
    color: $color-text-link-hover;
  }

  border-bottom: 3px double $color-border-a-hover;
}

#content a:active {
  @media screen {
    color: $color-text-link-active;
  }

  border-bottom: 1px solid $color-border-a-active;
}
