$font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

$scale: (
  "1": 1,
  "2": 2,
  "3": 4,
  "4": 8,
  "5": 16,
);

$colors: (
  "gray": (
    "100": hsl(30, 7.69%, 94.9%),
    "200": hsl(0, 6.02%, 83.73%),
    "300": hsl(6, 7.14%, 72.55%),
    "400": hsl(4.62, 6.6%, 61.37%),
    "500": hsl(7.06, 6.67%, 50%),
    "600": hsl(9.23, 6.6%, 38.63%),
    "700": hsl(12, 7.14%, 27.45%),
    "800": hsl(0, 6.02%, 16.27%),
    "850": #1d1a1a,
    "900": hsl(0, 7.69%, 5.1%),
  ),
  "yellow": (
    "050": #fffde7,
    "100": #fff9c4,
    "200": #fff59d,
    "300": #fff176,
    "400": #ffee58,
    "500": #ffeb3b,
    "600": #fdd835,
    "700": #fbc02d,
    "800": #f9a825,
    "900": #f57f17,
  ),
  "red": (
    "100": hsl(11.05, 67.86%, 89.02%),
    "200": hsl(7.11, 71.7%, 79.22%),
    "300": hsl(3.1, 74.36%, 69.41%),
    "400": hsl(359.25, 77.56%, 59.8%),
    "500": hsl(355.02, 80.39%, 50%),
    "600": hsl(355.85, 77.56%, 40.2%),
    "700": hsl(357.41, 74.36%, 30.59%),
    "800": hsl(358.42, 71.7%, 20.78%),
    "900": hsl(0, 67.86%, 10.98%),
  ),
  "blue": (
    "100": hsl(224.62, 95.12%, 91.96%),
    "200": hsl(224.62, 95.12%, 83.92%),
    "300": hsl(225, 95.08%, 76.08%),
    "400": hsl(224.9, 95.09%, 68.04%),
    "500": hsl(224.85, 95.1%, 60%),
    "600": hsl(224.81, 95.1%, 48.04%),
    "700": hsl(224.57, 95.63%, 35.88%),
    "800": hsl(225, 95.08%, 23.92%),
    "900": hsl(224.75, 96.72%, 11.96%),
  ),
  "purple": (
    "050": hsl(264.71, 100%, 98%),
    "100": hsl(264.71, 100%, 90%),
    "200": hsl(264.71, 100%, 80%),
    "300": hsl(265.1, 100%, 70%),
    "400": hsl(265, 100%, 60%),
    "500": hsl(264.94, 100%, 50%),
    "600": hsl(265, 100%, 40%),
    "700": hsl(265.1, 100%, 30%),
    "800": hsl(264.71, 100%, 20%),
    "900": hsl(264.71, 100%, 10%),
  ),
  "teal": (
    "050": #e0f2f1,
    "100": #b2dfdb,
    "200": #80cbc4,
    "300": #4db6ac,
    "400": #26a69a,
    "500": #009688,
    "600": #00897b,
    "700": #00796b,
    "800": #00695c,
    "900": #004d40,
  ),
);

/** COLORS ********************/

:root {
  --white: #fff;
  --black: #000;

  @each $name, $color in $colors {
    @each $num, $val in $color {
      --#{$name}-#{$num}: #{$val};
    }
  }
}

/** SIZING ********************/

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/** DISPLAY ********************/

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

@media screen and (min-width: 65.5rem) {
  .lg\:flex-column {
    flex-direction: column;
  }
}

/** FONT ********************/

@each $font-weight in $font-weights {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight;
  }
}

/** TEXT ********************/

.no-hyphens {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.no-break {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 0.1ch;
}

/** SPACING ********************/

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $i, $j in $scale {
  .pt-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
  }

  .pb-#{$i} {
    padding-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .pl-#{$i} {
    padding-left: calc(#{$j} * 0.375rem) !important;
  }

  .pr-#{$i} {
    padding-right: calc(#{$j} * 0.375rem) !important;
  }

  .px-#{$i} {
    padding-left: calc(#{$j} * 0.375rem) !important;
    padding-right: calc(#{$j} * 0.375rem) !important;
  }

  .py-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
    padding-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .p-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
    padding-right: calc(#{$j} * 0.375rem) !important;
    padding-bottom: calc(#{$j} * 0.375rem) !important;
    padding-left: calc(#{$j} * 0.375rem) !important;
  }

  .mt-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
  }

  .mb-#{$i} {
    margin-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .ml-#{$i} {
    margin-left: calc(#{$j} * 0.375rem) !important;
  }

  .mr-#{$i} {
    margin-right: calc(#{$j} * 0.375rem) !important;
  }

  .mx-#{$i} {
    margin-left: calc(#{$j} * 0.375rem) !important;
    margin-right: calc(#{$j} * 0.375rem) !important;
  }

  .my-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
    margin-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .m-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
    margin-right: calc(#{$j} * 0.375rem) !important;
    margin-bottom: calc(#{$j} * 0.375rem) !important;
    margin-left: calc(#{$j} * 0.375rem) !important;
  }

  .top-#{$i} {
    top: calc(#{$j} * 0.375rem) !important;
  }

  .top-n#{$i} {
    top: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .right-#{$i} {
    right: calc(#{$j} * 0.375rem) !important;
  }

  .right-n#{$i} {
    right: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .bottom-#{$i} {
    bottom: calc(#{$j} * 0.375rem) !important;
  }

  .bottom-n#{$i} {
    bottom: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .left-#{$i} {
    left: calc(#{$j} * 0.375rem) !important;
  }

  .left-n#{$i} {
    left: calc(-1 * #{$j} * 0.375rem) !important;
  }
}

@media screen and (min-width: 65.5rem) {
  .lg\:pb-1 {
    padding-bottom: calc(1 * 0.375rem) !important;
  }

  .lg\:pb-2 {
    padding-bottom: calc(2 * 0.375rem) !important;
  }

  .lg\:pb-3 {
    padding-bottom: calc(4 * 0.375rem) !important;
  }

  .lg\:pb-4 {
    padding-bottom: calc(8 * 0.375rem) !important;
  }

  .lg\:pb-5 {
    padding-bottom: calc(16 * 0.375rem) !important;
  }

  .lg\:py-5 {
    padding-top: calc(16 * 0.375rem) !important;
    padding-bottom: calc(16 * 0.375rem) !important;
  }
}

/** BORDER ********************/

.border-1 {
  border: 1px solid #000;
}

/** POSITION ********************/

.pos-relative {
  position: relative !important;
}

.pos-absolute {
  position: absolute !important;
}

.pos-fixed {
  position: fixed !important;
}

.z-100 {
  z-index: 100;
}

/** COLORS ********************/

.bg-white {
  background: var(--white);
}

.bg-black {
  background: var(--black);
}

.fg-white {
  color: var(--white);
}

.fg-black {
  color: var(--black);
}

@each $name, $color in $colors {
  @each $num, $val in $color {
    .bg-#{$name}-#{$num} {
      background: var(--#{$name}-#{$num});
    }

    .fg-#{$name}-#{$num} {
      color: var(--#{$name}-#{$num});
    }
  }
}
