$font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

$scale: (
  "1": 1,
  "2": 2,
  "3": 4,
  "4": 8,
  "5": 16,
);

/** COLORS ********************/

:root {
  --white: #fff;
  --black: #000;

  --gray-100: hsl(30, 7.69%, 94.9%);
  --gray-200: hsl(0, 6.02%, 83.73%);
  --gray-300: hsl(6, 7.14%, 72.55%);
  --gray-400: hsl(4.62, 6.6%, 61.37%);
  --gray-500: hsl(7.06, 6.67%, 50%);
  --gray-600: hsl(9.23, 6.6%, 38.63%);
  --gray-700: hsl(12, 7.14%, 27.45%);
  --gray-800: hsl(0, 6.02%, 16.27%);
  --gray-850: hsl(0, 6.54%, 10.77%); /* added */
  --gray-900: hsl(0, 7.69%, 5.1%);

  /* material design */
  --yellow-050: #fffde7;
  --yellow-100: #fff9c4;
  --yellow-200: #fff59d;
  --yellow-300: #fff176;
  --yellow-400: #ffee58;
  --yellow-500: #ffeb3b;
  --yellow-600: #fdd835;
  --yellow-700: #fbc02d;
  --yellow-800: #f9a825;
  --yellow-900: #f57f17;

  --red-100: hsl(11.05, 67.86%, 89.02%);
  --red-200: hsl(7.11, 71.7%, 79.22%);
  --red-300: hsl(3.1, 74.36%, 69.41%);
  --red-400: hsl(359.25, 77.56%, 59.8%);
  --red-500: hsl(355.02, 80.39%, 50%);
  --red-600: hsl(355.85, 77.56%, 40.2%);
  --red-700: hsl(357.41, 74.36%, 30.59%);
  --red-800: hsl(358.42, 71.7%, 20.78%);
  --red-900: hsl(0, 67.86%, 10.98%);

  --blue-100: hsl(224.62, 95.12%, 91.96%);
  --blue-200: hsl(224.62, 95.12%, 83.92%);
  --blue-300: hsl(225, 95.08%, 76.08%);
  --blue-400: hsl(224.9, 95.09%, 68.04%);
  --blue-500: hsl(224.85, 95.1%, 60%);
  --blue-600: hsl(224.81, 95.1%, 48.04%);
  --blue-700: hsl(224.57, 95.63%, 35.88%);
  --blue-800: hsl(225, 95.08%, 23.92%);
  --blue-900: hsl(224.75, 96.72%, 11.96%);

  --purple-050: hsl(264.71, 100%, 98%);
  --purple-100: hsl(264.71, 100%, 90%);
  --purple-200: hsl(264.71, 100%, 80%);
  --purple-300: hsl(265.1, 100%, 70%);
  --purple-400: hsl(265, 100%, 60%);
  --purple-500: hsl(264.94, 100%, 50%);
  --purple-600: hsl(265, 100%, 40%);
  --purple-700: hsl(265.1, 100%, 30%);
  --purple-800: hsl(264.71, 100%, 20%);
  --purple-900: hsl(264.71, 100%, 10%);

  /* material design */
  --teal-050: #e0f2f1;
  --teal-100: #b2dfdb;
  --teal-200: #80cbc4;
  --teal-300: #4db6ac;
  --teal-400: #26a69a;
  --teal-500: #009688;
  --teal-600: #00897b;
  --teal-700: #00796b;
  --teal-800: #00695c;
  --teal-900: #004d40;
}

/** SIZING ********************/

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/** DISPLAY ********************/

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

@media screen and (min-width: 65.5rem) {
  .lg\:flex-column {
    flex-direction: column;
  }
}

/** FONT ********************/

@each $font-weight in $font-weights {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight;
  }
}

/** TEXT ********************/

.no-hyphens {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.no-break {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 0.1ch;
}

/** SPACING ********************/

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $i, $j in $scale {
  .pt-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
  }

  .pb-#{$i} {
    padding-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .pl-#{$i} {
    padding-left: calc(#{$j} * 0.375rem) !important;
  }

  .pr-#{$i} {
    padding-right: calc(#{$j} * 0.375rem) !important;
  }

  .px-#{$i} {
    padding-left: calc(#{$j} * 0.375rem) !important;
    padding-right: calc(#{$j} * 0.375rem) !important;
  }

  .py-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
    padding-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .p-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
    padding-right: calc(#{$j} * 0.375rem) !important;
    padding-bottom: calc(#{$j} * 0.375rem) !important;
    padding-left: calc(#{$j} * 0.375rem) !important;
  }

  .mt-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
  }

  .mb-#{$i} {
    margin-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .ml-#{$i} {
    margin-left: calc(#{$j} * 0.375rem) !important;
  }

  .mr-#{$i} {
    margin-right: calc(#{$j} * 0.375rem) !important;
  }

  .mx-#{$i} {
    margin-left: calc(#{$j} * 0.375rem) !important;
    margin-right: calc(#{$j} * 0.375rem) !important;
  }

  .my-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
    margin-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .m-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
    margin-right: calc(#{$j} * 0.375rem) !important;
    margin-bottom: calc(#{$j} * 0.375rem) !important;
    margin-left: calc(#{$j} * 0.375rem) !important;
  }

  .top-#{$i} {
    top: calc(#{$j} * 0.375rem) !important;
  }

  .top-n#{$i} {
    top: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .right-#{$i} {
    right: calc(#{$j} * 0.375rem) !important;
  }

  .right-n#{$i} {
    right: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .bottom-#{$i} {
    bottom: calc(#{$j} * 0.375rem) !important;
  }

  .bottom-n#{$i} {
    bottom: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .left-#{$i} {
    left: calc(#{$j} * 0.375rem) !important;
  }

  .left-n#{$i} {
    left: calc(-1 * #{$j} * 0.375rem) !important;
  }
}

@media screen and (min-width: 65.5rem) {
  .lg\:pb-1 {
    padding-bottom: calc(1 * 0.375rem) !important;
  }

  .lg\:pb-2 {
    padding-bottom: calc(2 * 0.375rem) !important;
  }

  .lg\:pb-3 {
    padding-bottom: calc(4 * 0.375rem) !important;
  }

  .lg\:pb-4 {
    padding-bottom: calc(8 * 0.375rem) !important;
  }

  .lg\:pb-5 {
    padding-bottom: calc(16 * 0.375rem) !important;
  }

  .lg\:py-5 {
    padding-top: calc(16 * 0.375rem) !important;
    padding-bottom: calc(16 * 0.375rem) !important;
  }
}

/** BORDER ********************/

.border-1 {
  border: 1px solid #000;
}

/** POSITION ********************/

.pos-relative {
  position: relative !important;
}

.pos-absolute {
  position: absolute !important;
}

.pos-fixed {
  position: fixed !important;
}

.z-100 {
  z-index: 100;
}

/** COLORS ********************/

.bg-white {
  background: var(--white);
}

.bg-black {
  background: var(--black);
}

.bg-gray-100 {
  background: var(--gray-100);
}

.bg-gray-200 {
  background: var(--gray-200);
}

.bg-gray-300 {
  background: var(--gray-300);
}

.bg-gray-400 {
  background: var(--gray-400);
}

.bg-gray-500 {
  background: var(--gray-500);
}

.bg-gray-600 {
  background: var(--gray-600);
}

.bg-gray-700 {
  background: var(--gray-700);
}

.bg-gray-800 {
  background: var(--gray-800);
}

.bg-gray-900 {
  background: var(--gray-900);
}

.bg-yellow-050 {
  background: var(--yellow-050);
}

.bg-yellow-100 {
  background: var(--yellow-100);
}

.bg-yellow-200 {
  background: var(--yellow-200);
}

.bg-yellow-300 {
  background: var(--yellow-300);
}

.bg-yellow-400 {
  background: var(--yellow-400);
}

.bg-yellow-500 {
  background: var(--yellow-500);
}

.bg-yellow-600 {
  background: var(--yellow-600);
}

.bg-yellow-700 {
  background: var(--yellow-700);
}

.bg-yellow-800 {
  background: var(--yellow-800);
}

.bg-yellow-900 {
  background: var(--yellow-900);
}

.bg-red-100 {
  background: var(--red-100);
}

.bg-red-200 {
  background: var(--red-200);
}

.bg-red-300 {
  background: var(--red-300);
}

.bg-red-400 {
  background: var(--red-400);
}

.bg-red-500 {
  background: var(--red-500);
}

.bg-red-600 {
  background: var(--red-600);
}

.bg-red-700 {
  background: var(--red-700);
}

.bg-red-800 {
  background: var(--red-800);
}

.bg-red-900 {
  background: var(--red-900);
}

.bg-blue-100 {
  background: var(--blue-100);
}

.bg-blue-200 {
  background: var(--blue-200);
}

.bg-blue-300 {
  background: var(--blue-300);
}

.bg-blue-400 {
  background: var(--blue-400);
}

.bg-blue-500 {
  background: var(--blue-500);
}

.bg-blue-600 {
  background: var(--blue-600);
}

.bg-blue-700 {
  background: var(--blue-700);
}

.bg-blue-800 {
  background: var(--blue-800);
}

.bg-blue-900 {
  background: var(--blue-900);
}

.bg-purple-050 {
  background: var(--purple-050);
}

.bg-purple-100 {
  background: var(--purple-100);
}

.bg-purple-200 {
  background: var(--purple-200);
}

.bg-purple-300 {
  background: var(--purple-300);
}

.bg-purple-400 {
  background: var(--purple-400);
}

.bg-purple-500 {
  background: var(--purple-500);
}

.bg-purple-600 {
  background: var(--purple-600);
}

.bg-purple-700 {
  background: var(--purple-700);
}

.bg-purple-800 {
  background: var(--purple-800);
}

.bg-purple-900 {
  background: var(--purple-900);
}

.bg-teal-050 {
  background: var(--teal-050);
}

.bg-teal-100 {
  background: var(--teal-100);
}

.bg-teal-200 {
  background: var(--teal-200);
}

.bg-teal-300 {
  background: var(--teal-300);
}

.bg-teal-400 {
  background: var(--teal-400);
}

.bg-teal-500 {
  background: var(--teal-500);
}

.bg-teal-600 {
  background: var(--teal-600);
}

.bg-teal-700 {
  background: var(--teal-700);
}

.bg-teal-800 {
  background: var(--teal-800);
}

.bg-teal-900 {
  background: var(--teal-900);
}

.fg-white {
  color: var(--white);
}

.fg-black {
  color: var(--black);
}

.fg-gray-100 {
  color: var(--gray-100);
}

.fg-gray-200 {
  color: var(--gray-200);
}

.fg-gray-300 {
  color: var(--gray-300);
}

.fg-gray-400 {
  color: var(--gray-400);
}

.fg-gray-500 {
  color: var(--gray-500);
}

.fg-gray-600 {
  color: var(--gray-600);
}

.fg-gray-700 {
  color: var(--gray-700);
}

.fg-gray-800 {
  color: var(--gray-800);
}

.fg-gray-900 {
  color: var(--gray-900);
}

.fg-yellow-050 {
  color: var(--yellow-050);
}

.fg-yellow-100 {
  color: var(--yellow-100);
}

.fg-yellow-200 {
  color: var(--yellow-200);
}

.fg-yellow-300 {
  color: var(--yellow-300);
}

.fg-yellow-400 {
  color: var(--yellow-400);
}

.fg-yellow-500 {
  color: var(--yellow-500);
}

.fg-yellow-600 {
  color: var(--yellow-600);
}

.fg-yellow-700 {
  color: var(--yellow-700);
}

.fg-yellow-800 {
  color: var(--yellow-800);
}

.fg-yellow-900 {
  color: var(--yellow-900);
}

.fg-red-100 {
  color: var(--red-100);
}

.fg-red-200 {
  color: var(--red-200);
}

.fg-red-300 {
  color: var(--red-300);
}

.fg-red-400 {
  color: var(--red-400);
}

.fg-red-500 {
  color: var(--red-500);
}

.fg-red-600 {
  color: var(--red-600);
}

.fg-red-700 {
  color: var(--red-700);
}

.fg-red-800 {
  color: var(--red-800);
}

.fg-red-900 {
  color: var(--red-900);
}

.fg-blue-100 {
  color: var(--blue-100);
}

.fg-blue-200 {
  color: var(--blue-200);
}

.fg-blue-300 {
  color: var(--blue-300);
}

.fg-blue-400 {
  color: var(--blue-400);
}

.fg-blue-500 {
  color: var(--blue-500);
}

.fg-blue-600 {
  color: var(--blue-600);
}

.fg-blue-700 {
  color: var(--blue-700);
}

.fg-blue-800 {
  color: var(--blue-800);
}

.fg-blue-900 {
  color: var(--blue-900);
}

.fg-purple-050 {
  color: var(--purple-050);
}

.fg-purple-100 {
  color: var(--purple-100);
}

.fg-purple-200 {
  color: var(--purple-200);
}

.fg-purple-300 {
  color: var(--purple-300);
}

.fg-purple-400 {
  color: var(--purple-400);
}

.fg-purple-500 {
  color: var(--purple-500);
}

.fg-purple-600 {
  color: var(--purple-600);
}

.fg-purple-700 {
  color: var(--purple-700);
}

.fg-purple-800 {
  color: var(--purple-800);
}

.fg-purple-900 {
  color: var(--purple-900);
}

.fg-teal-050 {
  color: var(--teal-050);
}

.fg-teal-100 {
  color: var(--teal-100);
}

.fg-teal-200 {
  color: var(--teal-200);
}

.fg-teal-300 {
  color: var(--teal-300);
}

.fg-teal-400 {
  color: var(--teal-400);
}

.fg-teal-500 {
  color: var(--teal-500);
}

.fg-teal-600 {
  color: var(--teal-600);
}

.fg-teal-700 {
  color: var(--teal-700);
}

.fg-teal-800 {
  color: var(--teal-800);
}

.fg-teal-900 {
  color: var(--teal-900);
}
