preprocess do
  def hide_specials
    items.each do |item|
      if item.identifier =~ /^\/(assets|well-known|robots\.txt)/
        item[:is_hidden] = true
      end
    end
  end

  def assign_cachebuster_id
    @items.find_all('/assets/style/*').each do |stylesheet|
      digest = Digest::SHA1.base64digest(stylesheet.raw_content)
      stylesheet[:cbid] = digest.gsub(/[^A-Za-z0-9]+/, '')
    end
  end

  hide_specials
  assign_cachebuster_id
end

passthrough '/tmp/**/*'

compile '/404.*' do
  layout '/default.*'
  write '/404.html'
end

compile '/sitemap_xml.*' do
  filter :erb
  write '/sitemap.xml'
end

compile '/cv.*' do
  layout '/bare.*'

  write '/cv/index.html'
end

passthrough '/favicon.*'
passthrough '/robots.*'

compile '/_redirects.*' do
  write '/_redirects'
end

compile '/well-known/**/*' do
  write item.identifier.to_s.sub(/^\//, '/.')
end

compile '/assets/style/*.css' do
  filter :tailwindcss
  filter :relativize_paths, type: :css

  cbid_part = item[:cbid] ? '-' + item[:cbid] : ''
  write item.identifier.without_ext + cbid_part + '.css'
end

compile '/assets/style/*.scss' do
  filter :sass, syntax: :scss, style: :compressed
  filter :relativize_paths, type: :css

  cbid_part = item[:cbid] ? '-' + item[:cbid] : ''
  write item.identifier.without_ext + cbid_part + '.css'
end

passthrough '/assets/**/*'

compile '/**/*' do
  filter :dmark if item.identifier.ext == 'dmark'
  filter :erb if item.identifier.ext == 'erb'

  layout '/default.*'

  filter :relativize_paths, type: :html5

  if item.identifier =~ '/index.*'
    write '/index.html'
  else
    write item.identifier.without_exts + '/index.html'
  end
end

layout '/**/*', :erb
