require 'kramdown'
require 'kramdown-parser-gfm'

preprocess do
  unless File.directory?('node_modules')
    system('npm install')
  end

  def hide_specials
    items.each do |item|
      if item.identifier =~ /^\/(assets|well-known|robots\.txt)/
        item[:is_hidden] = true
      end
    end
  end

  def assign_cachebuster_id
    @items.find_all('/assets/style/*').each do |stylesheet|
      digest = Digest::SHA1.base64digest(stylesheet.raw_content)
      stylesheet[:cbid] = digest.gsub(/[^A-Za-z0-9]+/, '')
    end
  end

  def find_backlinks
    is_linked_from = {}

    @items.find_all('/notes/*').each do |note|
      linked_titles = note.raw_content.scan(/\[\[[^\]]+\]\]/).map { |m| m[2..-3] }
      linked_titles.each do |linked_title|
        is_linked_from[linked_title] ||= Set.new
        is_linked_from[linked_title] << note
      end
    end

    @items.find_all('/notes/*').each do |note|
      note[:is_linked_from] = is_linked_from.fetch(note[:title], Set.new).map(&:identifier).map(&:to_s).sort
    end
  end

  def mark_prose
    @items.find_all('/notes/*').each do |i|
      i[:prose] = true
    end
  end

  hide_specials
  assign_cachebuster_id
  find_backlinks
  mark_prose
end

passthrough '/tmp/**/*'

ignore '/ignore/**/*'

compile '/404.*' do
  layout '/new.*'
  write '/404.html'
end

compile '/sitemap_xml.*' do
  filter :erb
  write '/sitemap.xml'
end

passthrough '/favicon.*'
passthrough '/robots.*'

compile '/well-known/**/*' do
  write item.identifier.to_s.sub(/^\//, '/.')
end

compile '/assets/style/*.css' do
  filter :relativize_paths, type: :css

  cbid_part = item[:cbid] ? '-' + item[:cbid] : ''
  write item.identifier.without_ext + cbid_part + '.css'
end

passthrough '/assets/**/*'

compile '/fiction/*' do
  filter :kramdown
  filter :typography

  layout '/fiction.*'

  filter :relativize_paths, type: :html5

  slug = item[:title].downcase.gsub(/[^a-z0-9]+/, '-').gsub(/^-|-$/, '')
  write "/fiction/#{slug}/index.html"
end

compile '/notes/*' do
  filter :wikilinks
  filter :mark
  filter :kramdown, input: 'GFM'
  filter :footnotes
  filter :autolink
  filter :typography

  if item.identifier.match?('/notes/*')
    layout '/bear.*'
    layout '/new.*'
  else
    layout '/fiction.*'
  end

  filter :relativize_paths, type: :html5

  digest =
    Digest::SHA256.hexdigest(item.identifier.to_s)
    .tr('0123456789abcdef', '79cfhklmnprtvwxz')
    .scan(/.{5}/).take(3).join('-')
  write "/notes/#{digest}/index.html"
end

compile '/**/*' do
  filter :dmark if item.identifier.ext == 'dmark'
  filter :erb if item.identifier.ext == 'erb'

  filter :add_ids_to_headers
  filter :toc if item[:toc]
  filter :typography

  if item.identifier.match?('/cv.*')
    layout '/cv.*'
  else
    layout '/new.*'
  end

  filter :relativize_paths, type: :html5

  if item.identifier =~ '/index.*'
    write '/index.html'
  else
    write item.identifier.without_exts + '/index.html'
  end
end

layout '/**/*', :erb
