@font-face {
  font-family: "Kappa Text";
  font-weight: 100;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-Thin.woff") format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 100;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-ThinItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-UltraLight.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-UltraLightItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-Light.woff") format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-LightItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-Book.woff") format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-BookItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-RegularItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-Bold.woff") format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-BoldItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-ExtraBoldItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 800;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-Black.woff") format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 800;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-BlackItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 900;
  font-style: normal;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-UltraBlack.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Text";
  font-weight: 900;
  font-style: italic;
  src: url("/assets/fonts/kappa-text/fonts/KappaText-UltraBlackItalic.woff")
    format("woff");
}
