---
title: "Articles"
index: false
follow: false
---

<h1>Articles</h1>

<p class="col-left-sm">This is a collection of articles I’ve written.</p>

<ul class="spacious col-right-md">
  <% @items.find_all('/articles/*').sort_by { |i| i[:title].downcase.gsub(/[^a-z]/, '') }.each do |piece| %>
    <li><%= link_to piece[:title], piece %></li>
  <% end %>
</ul>
