---
title: "Experiments"
index: true
follow: true
---

<h1>Experiments</h1>

<% @items.find_all('/experiments/*').sort_by { |i| i[:title].downcase.gsub(/[^a-z]/, '') }.each do |piece| %>
<h2><%= piece[:title] %></h2>
<a href="<%= piece.path %>"></a>
<p><%= piece[:excerpt] %> <%= link_to 'Read more', piece %></p>
<% end %>
