---
title: "Denis Defreyne"
nav_title: "denisdefreyne.com"
type: profile
skip_nav: true
---

<p class="hero col-lg">Hello! I’m <em>Denis&nbsp;Defreyne</em>. I’m a software engineer based in Berlin, Germany. My pronouns are <a href="notes/xzmc7-zr7p9-7fcpp/">he/him</a>.</p>

<div class="col-left-md pb-base">
  <p>In the past, I’ve worked for <a href="https://soundcloud.com">SoundCloud</a>, <a href="https://bcgdv.com">BCG Digital Ventures</a>, <a href="https://pitch.com">Pitch</a>, and others. I’ve created <a href="https://nanoc.ws">Nanoc</a>, a mature static-site generator written in Ruby, and led the implementation of <a href="https://closecontact.club">closecontact</a>, a COVID-19 contact-sharing solution for Berlin&nbsp;clubs.</p>
</div>

<div class="col-right-sm">
  <p>You might be curious <%= link_to 'What’s top of mind' , @items['/notes/149E38EC-3FB7-4D4F-8CB1-24BA9A24F8DF-38501-00015B8C3C9DAC34.*'] %>. The best way to get in touch with me is <a href="https://twitter.com/ddfreyne">on Twitter</a>.</p>
</div>
