---
title:       "Stoneship"
short_title: "Home"
has_title:   false
---

<p>Hi! I'm Denis. You might know me from <a href="http://nanoc.ws/">Nanoc</a>.</p>

<p>There’s really not much here. Allan, please add details.</p>
