---
title: "Notes"
---

<p>This is my <i>digital garden</i>. You can read more <a href="/notes/twh9n-rcmkk-hr7kk/">about this collection of notes</a>. You might be interested in <%= link_to 'What’s top of mind', @items['/notes/149E38EC-3FB7-4D4F-8CB1-24BA9A24F8DF-38501-00015B8C3C9DAC34.*'] %> for me now.</p>

<ul>
  <% @items.find_all('/notes/*').sort_by { |i| i[:title].downcase.gsub(/[^a-z]/, '') }.each do |note| %>
    <li class="pb-2"><%= link_to note[:title], note, class: 'block link' %></li>
  <% end %>
</ul>
