---
title: "Notes"
---

<h1>Notes</h1>

<ul class="spacious">
  <% @items.find_all('/notes/*').sort_by { |i| i[:title].downcase.gsub(/[^a-z]/, '') }.each do |note| %>
    <li><%= link_to note[:title], note %></li>
  <% end %>
</ul>
