@font-face {
  font-family: "Kappa Display";
  font-weight: 100;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-Thin.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 100;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-ThinItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-UltraLight.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-UltraLightItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-Light.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-LightItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-Book.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-BookItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-RegularItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-Bold.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-BoldItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-ExtraBoldItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 800;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-Black.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 800;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-BlackItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 900;
  font-style: normal;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-UltraBlack.woff")
    format("woff");
}

@font-face {
  font-family: "Kappa Display";
  font-weight: 900;
  font-style: italic;
  src: url("/assets/fonts/kappa-display/fonts/KappaDisplay-UltraBlackItalic.woff")
    format("woff");
}
