<% render '/_wrapper.*' do %>
  <div class="cols horizontal-scroll">
    <%= yield %>
  </div>

  <script src="/assets/scripts/behavior.js"></script>
  <script src="/assets/scripts/smoothscroll.min.js"></script>
<% end %>