<% render '/_wrapper.*' do %>
  <div class="cols horizontal-scroll">
    <div class="meta">
      <%= link_to 'â† back to articles', @items['/articles.*'] %>
    </div>

    <h1><%= @item[:title] %></h1>
    <%= yield %>
  </div>

  <script src="/assets/scripts/behavior.js"></script>
  <script src="/assets/scripts/smoothscroll.min.js"></script>
<% end %>
