<% render '/_wrapper.*' do %>
  <div class="cols horizontal-scroll">
    <h1><%= @item[:title] %></h1>
    <%= yield %>
  </div>

  <script src="/assets/scripts/behavior.js"></script>
  <script src="/assets/scripts/smoothscroll.min.js"></script>
<% end %>
