<h1><%= @item[:title] %></h1>

<%= yield %>

<% if @item[:is_linked_from].any? %>
  <h2>Links to this note</h2>
  <ul>
    <% @item[:is_linked_from].map { |id| @items[id] }.sort_by { |i| i[:title] }.each do |note| %>
      <li><%= link_to note[:title], note %></li>
    <% end %>
  </ul>
<% end %>
