<h1><%= @item[:title] %></h1>

<%= yield %>

<div class="hr col-lg"></div>

<div class="col-left-md main-footer">
  <div>Last revised <%= fmt_date(@item[:updated_at]) %></div>
</div>

<div class="col-right-sm main-footer">
  <% if @item[:is_linked_from].any? %>
    <div>Backlinks:</div>
    <ul>
      <% @item[:is_linked_from].map { |id| @items[id] }.sort_by { |i| i[:title] }.each do |note| %>
        <li><%= link_to note[:title], note %></li>
      <% end %>
    </ul>
  <% end %>
</div>
