<% render '/_wrapper.*' do %>
    <body class="font-serif bg-gray-100 print:bg-white text-gray-900">
        <div class="min-h-screen md:w-a4width print:w-auto bg-white">
            <div class="px-8 py-6 sm:px-10 sm:py-8 print:px-0 print:py-0">
                <%= yield %>
            </div>
        </div>
    </body>
<% end %>
