<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Stoneship > <%= @item[:short_title] || @item[:title] %></title>

        <!-- metadata -->
        <% if @item[:is_nav_page] %>
            <meta name="ROBOTS" content="NOINDEX, FOLLOW">
        <% end %>
        <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

        <!-- style -->
        <link rel="stylesheet" href="<%= @items['/assets/style/style.*'].path %>">
        <meta name="viewport" content="width=560">

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400' rel='stylesheet' type='text/css'>

        <!-- google analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15639968-2']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </head>
    <body>
        <div id="wrapper">
            <%= yield %>
        </div>
    </body>
</html>
